extends layout

block link
  -var selected = 'transaction list';

block content
  h2.
    Transaction List
  table.table.table-striped
    thead
      tr
        th #
        th Date
        th Account
        th Symbol
        th Type
        th Price
        th Shares
    tbody
      each transaction, i in transactionlist
        tr
          th= i
          th= transaction.date
          th= transaction.account
          th= transaction.symbol
          th= transaction.type
          th= transaction.price
          th= transaction.shares